header h1 {
  color: red;
  background: black;
  font-size: 3rem;
  width: 50%;
  font-family: "foo", "Helvetica", "Arial", sans-serif;
}

h2 {
  border: 1px solid green;
}

table h2 {
  border: 2px dotted blue;
}

#myButton {
  color: white;
  background-color: blue;
}

p.pretty {
  color: pink;
}

section > p {
  color: red;
}

section h3 + p + p {
  font-size: 30px;
}
