@import url('https://fonts.googleapis.com/css?family=Krona+One');

header h1 {
  color: red;
  background: black;
  font-size: 2.5rem;
  width: 50%;
  font-family: 'Krona One', sans-serif;
  font-weight: lighter;
  line-height: 1.2em;
  letter-spacing: 0.25em;
}

header h2 {
  text-align: center;
}

h2 {
  border: 1px solid green;
}

table h2 {
  border: 2px dotted blue;
}

#myButton {
  color: white;
  background-color: blue;
}

p.pretty {
  color: pink;
}

section > p {
  color: red;
}

section h3 + p + p {
  font-size: 30px;
}
